@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.hero--title {
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding-top: 250px;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.hero--text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

.button--scroll-down {
  position: absolute;
  left: 0;
  bottom: 53px;
  right: 0;
}

.arrow-container-down {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}

.ico-scroll-down {
  width: 20px;
  height: 11.7px;
  margin: auto;
  position: absolute;
  top: 17px;
  left: 13px;
}

.menu-button {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  border: 0;
  position: absolute;
  left: 0;
}

.sideMenu {
  position: relative;
  width: 276px;
  height: 100vh;
  opacity: 0.96;
  background-color: #ffffff;
  padding-top: 44px;
  z-index: 1;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  background-color: transparent;
  -webkit-transition: background ease .7s .5s, -webkit-transform ease .5s;
  transition: background ease .7s .5s, -webkit-transform ease .5s;
  transition: transform ease .5s, background ease .7s .5s;
  transition: transform ease .5s, background ease .7s .5s, -webkit-transform ease .5s;
  z-index: 1;
}

.menu-visible .navigation {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.close-button {
  background-color: #f26002;
  position: absolute;
  border: 0;
  top: 0;
  left: 100%;
  width: 44px;
  height: 44px;
}

.menu--item {
  list-style: none;
  border-top: 1px solid #8ccbea;
}

.menu--item:last-child {
  border-bottom: 1px solid #8ccbea;
}

.menu--link {
  display: block;
  text-decoration: none;
  padding-left: 15px;
  color: #304268;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
}

.looking {
  margin: 30px 15px;
}

.looking--span {
  color: #8ccbea;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
}

.looking--title {
  color: #000000;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  padding-bottom: 15px;
}

.looking--text {
  color: #4a4a4a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 30px;
}

.btn--go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  color: #f26002;
  background-color: #ffffff;
}

.reasons {
  background-color: #eff9ff;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.reasons--title {
  color: #000000;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 45px;
}

.reasons--container {
  display: grid;
  padding-left: 53px;
  padding-right: 53px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-gap: 45px;
  margin-bottom: 45px;
}

.reason--title {
  color: #000000;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.reason--description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.reasons--button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  border: 2px solid #f26002;
  border: 0;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

.reasons--button-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.footer {
  background-color: #304268;
  height: 128px;
  position: relative;
}

.arrow-container-footer {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  position: relative;
  margin: 0 auto;
  top: -22px;
}

.arrow-to-top {
  position: absolute;
  top: 11px;
  left: 12px;
}

.copyright-text {
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.love-text {
  height: 30px;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.heart {
  color: #f26002;
}

@media all and (min-width: 768px) {
  .hero--title {
    font-size: 80px;
    line-height: 95px;
    padding-top: 200px;
  }

  .hero--text {
    font-size: 24px;
  }

  .button--scroll-down {
    bottom: 35px;
  }

  .looking {
    margin-left: 39px;
    margin-right: 39px;
    margin-bottom: 45px;
  }

  .looking--title {
    font-size: 26px;
    line-height: 45px;
    padding-bottom: 30px;
  }

  .looking--title {
    font-size: 32px;
  }

  .looking--text {
    font-size: 20px;
  }

  .btn--go {
    font-size: 20px;
    width: 91px;
  }

  .reasons--title {
    font-size: 26px;
    line-height: 45px;
  }

  .reasons--container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  .reason--title {
    padding-bottom: 20px;
  }
}

@media all and (min-width: 1280px) {
  .hero--title {
    font-size: 100px;
    line-height: 132px;
    padding-top: 200px;
  }

  .looking {
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 60px;
  }

  .btn--go {
    width: 109px;
  }

  .reasons--title {
    font-size: 32px;
    padding-top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
